 
h2{
    color: red;
}

.logo {
    display: inline-block;
    height: 36px;
    margin: 12px 0 12px 25px;
    color: rgb(9, 65, 52);
    font-family: 'Permanent Marker', cursive;
    font-size:60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left; /* 로고가 정중앙에 오길래 수정*/
}
